@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Tanha;
    src: url('../public/font/Tanha.ttf');
}

* {

    font-family: Tanha;
}

.file-input {
    display: none;
}

.file-input-label {
    display: inline-block;
    padding: 10px 15px;
    background-color: #396704;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.file-input-label:hover {
    background-color: #e5e5e5;
}